@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --font-family: 'Lexend Deca', sans-serif;

  --bg-color : #FFFFFF;
  --color-yellow : #FF9F00;
  --color-white : #FFFFFF;
  --color-black : #000000;
  --color-muted : #7E7A7A; 
}
